<!doctype html>
<html>
<head>

</head>
<body>
<div class="card"><div class="card-header"><h3 class="t">a</h3><span class="tools"><i class="x"></i></span></div><div class="card-body"><p>1</p></div></div>
<div class="card"><div class="card-header"><h3 class="t">b</h3><span class="tools"><i class="x"></i></span></div><div class="card-body"><p>2</p></div></div>
<span class="tools"><i class="x"></i><i class="y"></i></span>
<span class="tools"><i class="x"></i><i class="y"></i></span>
</body>
</html>
